<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576063026092-dm1p6pq3ta8a1dbj36pq7dhtpmor45gl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576063026092-dm1p6pq3ta8a1dbj36pq7dhtpmor45gl</string>
	<key>API_KEY</key>
	<string>AIzaSyDtPlgSpVCJB7t8tfTyXVOClF09C8HJI1M</string>
	<key>GCM_SENDER_ID</key>
	<string>576063026092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bizado</string>
	<key>PROJECT_ID</key>
	<string>bizado-c5e96</string>
	<key>STORAGE_BUCKET</key>
	<string>bizado-c5e96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576063026092:ios:59741d7d85d53c0d060009</string>
</dict>
</plist>